@import 'scss/index.scss';
.list-users {
  padding: 0;
  &__user {
    padding: 15px 30px;
    color: $font-light;
    border-bottom: 1px solid $border-grey;

    &:hover {
      color: $font-light;
      background-color: $background-dark-light;
      text-decoration: none;
    }
  }
}
